* {
    color: black;
    text-align: center;
   
}


div {
    display: inline-block;
    background-color: #29F2EB;
    box-shadow: #027973 4px 4px;
    height: 500px;
    width: 1300px;
    border-radius: 15px;
}

img {
    width: 500px;
    height: 500px;
}

#test {
    width: 1000px;
}

h2 {
    display: inline-table;
    font-size: 1rem;
    margin: 10px;
}

#data{
    width: 6%;
    height: 20px;
    border-radius: 5px;
    box-shadow: black 2px 2px;
}

.bnt {
    box-shadow: black 2px 2px;
    width: 10%;
    height: 50px;
    border-radius: 5px;
}

